*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --color-primary: #f44336;
    --color-primary-light: #ff7961;
    --color-primary-dark: #ba000d;

    --color-white: #FFFFFF;
    --color-black: #222222;
    --light-grey: #DDDDDD;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.u-margin-bot-sm {
    margin-bottom: 2rem;
}
.side-panel-heading{
    text-align: center;
}
.active-room-div {
    text-align: center;
}
.heading-primary {
    text-transform: uppercase;
    letter-spacing: .6rem;
    font-size: 2rem;
    font-weight: 300;
}
.heading-secondary {
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.heading-tertiary {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.side-panel {
    position:absolute;
    width: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary-light);
}

.chat-panel {
    position: absolute;
    top: 0; 
    bottom: 10%;
    left: 20%;
    right: 0;
    background: var(--light-grey);
}

.button {
    font-size: 1.5rem;
    font-weight: 300;
    border: 0;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 100px;
    transition: all .2s;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
}

.button:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
}

.room-list {
    list-style: none;
    margin-left: 4rem;
}
.room-item {
    font-size: 1.6rem;
    transition: all .1s;
}

.room-item:hover{
    transform: scale(1.05) translateX(5px);
}

.room-item:not(:last-child) {
    margin-bottom: 1rem;
}

.room-item:hover {
    cursor: default;
}

.new-room-modal {
    background: var(--light-grey);
}

.modal-header {
    text-align: center
}

.new-room-input-box {
    text-align: center;
}

.new-room-input {
    width: 80%;
    margin: 1rem auto;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.6rem;
    transition: all .2s;
}

.new-room-input:focus {
    transform: scale(1.1) translateY(-2px);
}

.modal-button-inputs {
    text-align: center;
}

.message-list{
    list-style: none;
    padding: 2rem;
}

.message-box {
    position: relative;
    width: 100%;
    background: var(--color-white);
    border-radius: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.message-creator {
    text-align: center;
    float: left;
    width: 15%;
    padding:1rem 0;
}

.message-content {
    float:left;
    padding:1rem;
    width: 70%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.message-time {
    text-align:center;
    float: left;
    width: 15%;
    padding:1rem 0;
}

.new-message-input-box {
    background: var(--light-grey);
    position: absolute;
    left:20%;
    top: 90%;
    bottom: 0;
    right: 0;
    text-align: center;
}

.new-message-input {
    display: inline-block;
    margin: 0 auto;
    float: left;
    font-size: 1.6rem;
    width: 75%;
    height: 100%;
}

.new-message-button-box {
    position: relative;
    float: left;
    width: 25%;
    height:100%
}

.new-message-button {
    position:absolute;
    width: 95%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 300;
    border: 0;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 100px;
    transition: all .2s;
}

.new-message-button:hover{
    transform: translate(-50%, -55%);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
}

.new-message-button:active{
    transform: translate(-50%, -51%);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}