
<div class="main-panel"> 
    <div class="side-panel">
        <div class="side-panel-heading">
            <h2 class="heading-secondary"> Welcome to Chatty </h2>
            <h3 class="heading-tertiary"> Get your chat on </h3>
            <button class="button" ng-click="home.openRoomModal()"> Create a New Room </button>
        </div>
        <ul class="room-list">
            <li class="room-item" ng-repeat="room in home.rooms"> <p> {{ room.$value }}  </li>
        </ul>
    </div>  
</div>
